<!-- views/partials/footer.ejs -->
<footer class="page-footer card-panel black accent-2">
  <div class="container">
    <div class="row">
      <div class="col l4 m4 s4 left-align">
        <a class="grey-text text-lighten-3" target='_blank' href="/"><h5>Native | Xicana Code-X</h5></a>
          <a href="/" class="btn rosa ">Native | Xicana Code-X</a>
        <ul>
          <li>About</li>
          <li>Jobs</li>

        </ul>
      </div>

      <div class="col l4 m4 s4 center-align">
        <h5 class="white-text">Communities</h5>
        <ul>
          <li >Explore</li>
          <li>Users</li>
        </ul>
      </div>

      <div class="col l4 m4 s4 right-align">
        <h5 class="white-text">Code</h5>
        <ul>
          <a class="grey-text text-lighten-3" target='_blank' href="https://github.com/passion-pixel/finalproject3"><i class="fab fa-github fa-3x"></i></a>
          <li><a class="grey-text text-lighten-3" target='_blank' href="https://github.com/passion-pixel">Natalie</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
    © 2018 Copyright | Natalie Contreras
    </div>
  </div>
</footer>
