<div class="navbar transparent">
  <nav class="transparent z-depth-0">
    <% if(!user){ %>
      <div id="signupspan"><a href="/login">Log in | </a>
      <a href="/signup">Sign up |</a>
      <a href="/">Home | </a>
      <a href="/about">About |</a>
      <a href="/resources">Resources |</a>
      <a href="/Forum">Forum | </a>
      <a href="/events">Events | </a>
      <a href="/contact">Contact | </a>

    </div>

    <% } else { %>
      <div id="navspan"><span id="welcomespan">Welcome, <%= user.username %>! </span>
        <span id="loginspan"><a href="/">Home | </a>
          <a href="/about">About | </a>
          <a href="/profile">Profile | </a>
          <a href="/resources">Resources | </a>
          <a href="/Forum">Forum | </a>
          <a href="/events">Events | </a>
          <a href="/contact">Contact | </a>
          <a href="/logout">Log out</a></span></div>
    <% } %>
  </nav>
</div>
