<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- bootstrap js -->
  <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <title>App Name</title>
</head>

<body>

<header>

</header>

<main>


       <div class="parallax-container">
         <div class="parallax">
           <img src="images/mark-basarab-122141-unsplash.jpg" width="100%" style="display: block;">
         </div>
         <div class="section no-pad-bot" id="index-banner">
           <div class="container">
             <br />
             <br />
             <br>
             <h1 class="header center orange-text">About</h1>

             <div class="row center">
               <h3 class="header white-text col s12 light"> Empowering Native & Xicana WC to create the future of technology</h3>
               <p class="white-text">We're a community of WOC professionals in the tech industry</p>

             </div>

           </div>
         </div>
       </div>




            <div class="container">
              <div class="section">
                <div class="row">

                  <div class="col s12 m4">
                    <div class="icon-block">
                      <h2 class="center light-orange-text"> <i class="fas fa-globe"></i></h2>
                      <h5 class="center">Explore</h5>
                      <p class="light"> Search for local tech resources and opportunities in your area</p>
                    </div>
                  </div>


                </div>
              </div>
            </div>




            <div class="parallax-container">
              <div class="parallax">
                <img src="images/chris-coudron-133553-unsplash.jpg" width="100%" style="display: block;">
              </div>
              <div class="section no-pad-bot" id="index-banner">
                <div class="container">
                  <br />
                  <br />
                  <br>
                  <h1 class="header center orange-text">Mission</h1>

                  <div class="row center">
                    <h3 class="header pink-text col s12 light"> To provide technology instruction and resources for WOC interested in pursuing a career in tech.</h3>
                    <p class="white-text">We're a community of WOC professionals in the tech industry</p>

                  </div>

                </div>
              </div>
            </div>

       <br>
       <br>
            <div class="parallax-container">
              <div class="parallax"><img src="images/chris-coudron-133553-unsplash.jpg" width="100%" style="display: block;"></div>
            </div>





<div class="container">
  <div class="section">
    <div class="row">


      <div class="center">
        <p class="light">There is a need to Native women to see and have the opportunity to connect with other Native women who are succeeding in careers in science and technology.


        Formed in 2018, WOC Coders is a program created to fill the diversity gap between Native and Xicana Women who are
          interested in technology through education and resources. This site is intended to be a platform that can provides a
          community forum, resouces for online learning as well as opportunities through various programs and events throughout
          the Bay Area. It is the purpose of this organization to provide resources to Native | Xicana | Indigena Women of Color in hopes to spur interest in the technology.</p>
    <p>&nbsp;</p>
    <h3><b>Mission:</b></h3>
    <p>To provide technology instruction and resources for WOC interested in pursuing a career in tech.</p>
    <p>&nbsp;</p>
    <h3><b>Programs:</b></h3>
    <p>&nbsp;</p>
    <p><b>1-day workshops / hackathons</b>&nbsp;– events to provide quick knowledge and collaboration around contemporary topics in the technology field and/ or civic engagement.</p>
    <p><b>6 week programs &nbsp;–&nbsp;</b>intense 4 day a week programs to learn the latest technology languages and entrepreneurial skills.<br>
    <b>12 week program –&nbsp;</b>in depth programs that will include intensive training and mentorship for programming and entrepreneurship. Participants will learn through a series of projects that will be done in partnership with community organizations.</p>


      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-orange-text"> <i class="fas fa-globe"></i></h2>
          <h5 class="center">Explore</h5>
          <p class="light"> Search for local tech resources and opportunities in your area</p>
          <span class="vcard author byline"><a href="https://www.kaporcenter.org/diversity-data-shows-need-to-focus-on-women-of-color/" class="fn">Kapor Center for Social Impact - "Diversity Data Shows Need to Focus on Women of Color"</a></span>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-orange-text">
            <i class="far fa-user-circle"></i>
          </h2>
          <h5 class="center">Create an Account</h5>
          <p class="light">Create an account to access and edit your user profile</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-orange-text">
            <i class="far fa-star"></i>
          </h2>
          <h5 class="center">Connect with Mentors</h5>
          <p class="light">As a user you can log in to your profile and ask a question on our community forum</p>
        </div>
      </div>

    </div>
  </div>
</div>






          </main>




<div class="parallax-container">
  <div class="parallax"><img src="images/travelbackpack.jpg"></div>
  <div class="row center">

    <hr>
    <h3>About</h3>
    <p>
      <div id="content" class="site-content">
	<div class="container" style="min-height: 1px;">
		<div class="content-left-wrap col-md-12">
			<div id="primary" class="content-area">
				<main id="main" class="site-main" role="main">



<article id="post-2" class="post-2 page type-page status-publish hentry">

	<header class="entry-header">

		<span class="date updated published">April 10th, 2018</span>
		<span class="vcard author byline"><a href="https://www.linkedin.com/in/nataliecontreras/" class="fn">Xicana Codex</a></span>

		<h1 class="entry-title" itemprop="headline">About</h1>
	</header><!-- .entry-header -->

	<div class="entry-content" itemprop="text">

		<p>Formed in 2018, WOC Coders is a program created to fill the diversity gap between Native and Xicana Women who are
      interested in technology through education and resources. This site is intended to be a platform that can provides a
      community forum, resouces for online learning as well as opportunities through various programs and events throughout
      the Bay Area. It is the purpose of this organization to provide resources to Native | Xicana | Indigena Women of Color in hopes to spur interest in the technology.</p>
<p>&nbsp;</p>
<h3><b>Mission:</b></h3>
<p>To provide technology instruction and resources for WOC interested in pursuing a career in tech.</p>
<p>&nbsp;</p>
<h3><b>Programs:</b></h3>
<p>&nbsp;</p>
<p><b>1-day workshops / hackathons</b>&nbsp;– events to provide quick knowledge and collaboration around contemporary topics in the technology field and/ or civic engagement.</p>
<p><b>6 week programs &nbsp;–&nbsp;</b>intense 4 day a week programs to learn the latest technology languages and entrepreneurial skills.<br>
<b>12 week program –&nbsp;</b>in depth programs that will include intensive training and mentorship for programming and entrepreneurship. Participants will learn through a series of projects that will be done in partnership with community organizations.</p>
<div class="addtoany_share_save_container addtoany_content_bottom"><div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="http://latinagirlscode.org/about/" data-a2a-title="About" style="line-height: 32px;"><a class="a2a_button_facebook" href="/#facebook" title="Facebook" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_facebook" style="background-color: rgb(59, 89, 152);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path></svg></span><span class="a2a_label">Facebook</span></a><a class="a2a_button_twitter" href="/#twitter" title="Twitter" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_twitter" style="background-color: rgb(85, 172, 238);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M28 8.557a9.913 9.913 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.738 9.738 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.893 9.893 0 0 1-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z"></path></svg></span><span class="a2a_label">Twitter</span></a><a class="a2a_button_google_plus" href="/#google_plus" title="Google+" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_google_plus" style="background-color: rgb(221, 75, 57);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M27 15h-2v-2h-2v2h-2v2h2v2h2v-2h2m-15-2v2.4h3.97c-.16 1.03-1.2 3.02-3.97 3.02-2.39 0-4.34-1.98-4.34-4.42s1.95-4.42 4.34-4.42c1.36 0 2.27.58 2.79 1.08l1.9-1.83C15.47 9.69 13.89 9 12 9c-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.72-2.84 6.72-6.84 0-.46-.05-.81-.11-1.16H12z" fill="#FFF"></path></svg></span><span class="a2a_label">Google+</span></a><a class="a2a_dd addtoany_share_save" href="https://www.addtoany.com/share#url=http%3A%2F%2Flatinagirlscode.org%2Fabout%2F&amp;title=About"><span class="a2a_svg a2a_s__default a2a_s_a2a" style="background-color: rgb(1, 102, 255);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="#FFF"><path d="M14 7h4v18h-4z"></path><path d="M7 14h18v4H7z"></path></g></svg></span><span class="a2a_label">Share</span></a></div></div>

	</div><!-- .entry-content -->


</article><!-- #post-## -->				</main><!-- #main -->
			</div><!-- #primary -->
		</div><!-- .content-left-wrap -->
	</div><!-- .container -->
</div>
    </p>

    </div>
  </div>
  </div>
</div>


<div> <p>More </p>
  <span class="date updated published">April 10th, 2018</span>
  <span class="vcard author byline"><a href="" class="fn">Title</a></span>

</div>




</body>

<body>

<div class="container">
  <h3>About </h3>
</div>


<div class="parallax-container">
  <div class="parallax"><img src="images/travelbackpack.jpg"></div>
  <div class="row center">

    <hr>
    <h3>About</h3>
    <p>
      </p><div id="content" class="site-content">
	<div class="container" style="min-height: 1px;">
		<div class="content-left-wrap col-md-12">
			<div id="primary" class="content-area">
				<main id="main" class="site-main" role="main">



<article id="post-2" class="post-2 page type-page status-publish hentry">

	<header class="entry-header">

		<span class="date updated published">April 10th, 2018</span>
		<span class="vcard author byline"><a href="https://www.linkedin.com/in/nataliecontreras/" class="fn">Xicana Codex</a></span>

		<h1 class="entry-title" itemprop="headline">About</h1>
	</header><!-- .entry-header -->

	<div class="entry-content" itemprop="text">

		<p>Formed in 2018, WOC Coders is a program created to fill the diversity gap between Native and Xicana Women who are
      interested in technology through education and resources. This site is intended to be a platform that can provides a
      community forum, resouces for online learning as well as opportunities through various programs and events throughout
      the Bay Area. It is the purpose of this organization to provide resources to Native | Xicana | Indigena Women of Color in hopes to spur interest in the technology.</p>
<p>&nbsp;</p>
<h3><b>Mission:</b></h3>
<p>To provide technology instruction and resources for WOC interested in pursuing a career in tech.</p>
<p>&nbsp;</p>
<h3><b>Programs:</b></h3>
<p>&nbsp;</p>
<p><b>1-day workshops / hackathons</b>&nbsp;– events to provide quick knowledge and collaboration around contemporary topics in the technology field and/ or civic engagement.</p>
<p><b>6 week programs &nbsp;–&nbsp;</b>intense 4 day a week programs to learn the latest technology languages and entrepreneurial skills.<br>
<b>12 week program –&nbsp;</b>in depth programs that will include intensive training and mentorship for programming and entrepreneurship. Participants will learn through a series of projects that will be done in partnership with community organizations.</p>
<div class="addtoany_share_save_container addtoany_content_bottom"><div class="a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="http://latinagirlscode.org/about/" data-a2a-title="About" style="line-height: 32px;"><a class="a2a_button_facebook" href="/#facebook" title="Facebook" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_facebook" style="background-color: rgb(59, 89, 152);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M17.78 27.5V17.008h3.522l.527-4.09h-4.05v-2.61c0-1.182.33-1.99 2.023-1.99h2.166V4.66c-.375-.05-1.66-.16-3.155-.16-3.123 0-5.26 1.905-5.26 5.405v3.016h-3.53v4.09h3.53V27.5h4.223z"></path></svg></span><span class="a2a_label">Facebook</span></a><a class="a2a_button_twitter" href="/#twitter" title="Twitter" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_twitter" style="background-color: rgb(85, 172, 238);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#FFF" d="M28 8.557a9.913 9.913 0 0 1-2.828.775 4.93 4.93 0 0 0 2.166-2.725 9.738 9.738 0 0 1-3.13 1.194 4.92 4.92 0 0 0-3.593-1.55 4.924 4.924 0 0 0-4.794 6.049c-4.09-.21-7.72-2.17-10.15-5.15a4.942 4.942 0 0 0-.665 2.477c0 1.71.87 3.214 2.19 4.1a4.968 4.968 0 0 1-2.23-.616v.06c0 2.39 1.7 4.38 3.952 4.83-.414.115-.85.174-1.297.174-.318 0-.626-.03-.928-.086a4.935 4.935 0 0 0 4.6 3.42 9.893 9.893 0 0 1-6.114 2.107c-.398 0-.79-.023-1.175-.068a13.953 13.953 0 0 0 7.55 2.213c9.056 0 14.01-7.507 14.01-14.013 0-.213-.005-.426-.015-.637.96-.695 1.795-1.56 2.455-2.55z"></path></svg></span><span class="a2a_label">Twitter</span></a><a class="a2a_button_google_plus" href="/#google_plus" title="Google+" rel="nofollow noopener" target="_blank"><span class="a2a_svg a2a_s__default a2a_s_google_plus" style="background-color: rgb(221, 75, 57);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M27 15h-2v-2h-2v2h-2v2h2v2h2v-2h2m-15-2v2.4h3.97c-.16 1.03-1.2 3.02-3.97 3.02-2.39 0-4.34-1.98-4.34-4.42s1.95-4.42 4.34-4.42c1.36 0 2.27.58 2.79 1.08l1.9-1.83C15.47 9.69 13.89 9 12 9c-3.87 0-7 3.13-7 7s3.13 7 7 7c4.04 0 6.72-2.84 6.72-6.84 0-.46-.05-.81-.11-1.16H12z" fill="#FFF"></path></svg></span><span class="a2a_label">Google+</span></a><a class="a2a_dd addtoany_share_save" href="https://www.addtoany.com/share#url=http%3A%2F%2Flatinagirlscode.org%2Fabout%2F&amp;title=About"><span class="a2a_svg a2a_s__default a2a_s_a2a" style="background-color: rgb(1, 102, 255);"><svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><g fill="#FFF"><path d="M14 7h4v18h-4z"></path><path d="M7 14h18v4H7z"></path></g></svg></span><span class="a2a_label">Share</span></a></div></div>

	</div><!-- .entry-content -->


</article><!-- #post-## -->				</main><!-- #main -->
			</div><!-- #primary -->
		</div><!-- .content-left-wrap -->
	</div><!-- .container -->
</div>
    <p></p>

    </div>
  </div>




<div> <p>More </p>
  <span class="date updated published">April 10th, 2018</span>
  <span class="vcard author byline"><a href="" class="fn">Title</a></span>

</div>


<div id="main-wrap" class="content-wrap"><div id="wsite-content" class="wsite-elements wsite-not-footer">
	<h2 class="wsite-content-title" style="text-align:left;"><font size="6">About Us</font></h2>

<div class="paragraph"><span style="">Our mission is to inspire and empower Latinas to pursue, thrive and advance in Science,&nbsp;</span><span style="">Technology, Engineering &amp; Mathematics (STEM) fields.</span><br><br>Our&nbsp;primary purpose is to spread awareness about STEM and <strong>inspire</strong> and&nbsp;encourage middle&nbsp;school&nbsp;and high-school&nbsp;&nbsp;Latinas,&nbsp;especially&nbsp;within&nbsp;underserved&nbsp;communities,&nbsp;to strongly consider <strong>pursuing </strong>a&nbsp;STEM career. We aim to not only educate students, but most importantly their parents so that&nbsp;they may be better positioned to support their daughters along this challenging journey. Our&nbsp;secondary purpose is to help Latinas in STEM <strong>thrive</strong> in their college and professional careers&nbsp;through mentorship, networking and recognition.<br><br><span style="">Our goals are to:</span><br><span style="">1.&nbsp;</span><span style=""><strong style="">Inspire&nbsp;</strong></span><span style="">young women to consider STEM careers</span><br><span style="">2. Increase the number of Latina women&nbsp;</span><span style=""><strong style="">pursuing&nbsp;</strong></span><span style="">STEM careers</span><br><span style="">3. Create a network that helps women in STEM&nbsp;</span><strong style=""><span style=""><span style="">thrive</span></span></strong><br></div>

<div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0px;margin-right:10px;text-align:left">
<a>
<img src="/uploads/5/1/6/2/51621263/latinas-in-stem-color_1_orig.png" alt="Picture" style="width:auto;max-width:100%">
</a>
<div style="display:block;font-size:90%"></div>
</div></div>

<div><div style="height: 40px; overflow: hidden; width: 100%;"></div>
<hr class="styled-hr" style="width:100%;">
<div style="height: 40px; overflow: hidden; width: 100%;"></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -25px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:26.237623762376%; padding:0 25px;">



<h2 class="wsite-content-title" style="text-align:left;"><span style="font-weight: normal;">Who We Are</span></h2>



				</td>				<td class="wsite-multicol-col" style="width:73.762376237624%; padding:0 25px;">



<div class="paragraph" style="text-align:left;"><span><span>The founders of the organization are all first generation American women who have been&nbsp;the first in their family to attend college. We are also all MIT graduates with careers in industry&nbsp;and a long track record of community service.</span></span><br><br><span><span>We all know first-hand that there are barriers to&nbsp;entry for women in STEM. Those barriers are compounded for Latinas due to a lack of role&nbsp;models, lagging outreach and overall limited parental awareness. We are a force&nbsp;from&nbsp;the&nbsp;community&nbsp;for&nbsp;the community to inspire and empower parents and K-12 students to pursue&nbsp;STEM, and to help college students and professionals thrive in their careers.</span></span><br><br></div>



				</td>			</tr>
		</tbody>
	</table>
</div></div></div>

<div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -25px;">
	<table class="wsite-multicol-table">
		<tbody class="wsite-multicol-tbody">
			<tr class="wsite-multicol-tr">
				<td class="wsite-multicol-col" style="width:26.095238095238%; padding:0 25px;">



<h2 class="wsite-content-title" style="text-align:left;"><span style="font-weight: normal;">Our History</span></h2>

<div class="wsite-spacer" style="height:64px;"></div>



				</td>				<td class="wsite-multicol-col" style="width:73.904761904762%; padding:0 25px;">



<div class="paragraph" style="text-align:left;"><span>The Latinas in STEM Foundation was founded in the summer of 2013 by Latina MIT alumnae who were interested in formalizing the work they were already doing in their respective communities.&nbsp;</span></div>

<div class="wsite-spacer" style="height:38px;"></div>



				</td>			</tr>
		</tbody>
	</table>
</div></div></div>
</div>
</div>



<div class="hiddendiv common"></div><script id="wappalyzer" src="chrome-extension://gppongmhjkpfnbhagpmjfkannfbllamg/js/inject.js"></script></body>
</html>
