<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- bootstrap js -->
  <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <title>App Name</title>
</head>

<body>

<header>

</header>

<main>


       <div class="parallax-container">
         <div class="parallax">
           <img src="images/mark-basarab-122141-unsplash.jpg" width="100%" style="display: block;">
         </div>
         <div class="section no-pad-bot" id="index-banner">
         <% include ../views/partials/nav %>

         <div class="container">
           <br />
           <br />
           <br>
           <h1 class="header center orange-text">Mission</h1>

           <div class="row center">
             <h3 class="header pink-text col s12 light"> To provide technology instruction and resources for WOC interested in pursuing a career in tech.</h3>

           </div>

         </div>
         </div>
       </div>



       <br>
       <br>

<div class="container">
  <div class="section">
    <div class="row">


      <div class="center">
        <p class="light">There is a need to Native women to see and have the opportunity to connect with other Native women who are succeeding in careers in science and technology.


        Formed in 2018, WOC Coders is a program created to fill the diversity gap between Native and Xicana Women who are
          interested in technology through education and resources. This site is intended to be a platform that can provides a
          community forum, resouces for online learning as well as opportunities through various programs and events throughout
          the Bay Area. It is the purpose of this organization to provide resources to Native | Xicana | Indigena Women of Color in hopes to spur interest in the technology.</p>

          <p class="light">Mission: To provide technology instruction and resources for WOC interested in pursuing a career in tech.</p>


          <p class="light">Resources: </p>


          <p class="light"></p>




      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-orange-text"> <i class="fas fa-globe"></i></h2>
          <h5 class="center">"Diversity Data Shows Need to Focus on Women of Color"</h5>
          <p class="light"> Kapor Center for Social Impact</p>
          <span class="vcard author byline"><a href="https://www.kaporcenter.org/diversity-data-shows-need-to-focus-on-women-of-color/" class="fn">Kapor Center for Social Impact - "Diversity Data Shows Need to Focus on Women of Color"</a></span>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-orange-text">
            <i class="far fa-user-circle"></i>
          </h2>
          <h5 class="center">"Diversity in tech fields"</h5>
          <p class="light">The Frederick News Post</p>
            <span class="vcard author byline"><a href="https://www.fredericknewspost.com/opinion/editorial/diversity-in-tech-fields/article_5ca99c06-d629-57ec-bcb4-b8be57186800.html" class="fn">The Frederick News Post - "Diversity in tech fields"</a></span>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-orange-text">
            <i class="far fa-star"></i>
          </h2>
          <h5 class="center">Article</h5>
          <p class="light">As a user you can log in to your profile and ask a question on our community forum</p>
          <span class="vcard author byline"><a href="https://venturebeat.com/2018/02/20/dear-tech-people-ranks-snap-dropbox-airbnb-and-more-in-diversity-report/" class="fn">The Frederick News Post - "Diversity in tech fields"</a></span>

        </div>
      </div>

    </div>
  </div>
</div>




<div class="parallax-container">
  <div class="parallax"><img src="images/alcatraz-teepee.jpeg"></div>
  <div class="row center">

    <hr>
    <h3></h3>
    <p>
      <div id="content" class="site-content">
	<div class="container" style="min-height: 1px;">
		<div class="content-left-wrap col-md-12">
			<div id="primary" class="content-area">
				<main id="main" class="site-main" role="main">
      </div>
    </div>
  </div>

</div>
</div>



</body>
</main>


    <footer>
      <% include ../views/partials/footer %>
    </footer>
</html>
