<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/style.css">

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- bootstrap js -->
  <!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->

  <!-- custom script -->
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <title>App Name</title>
</head>

<body>

<header>

</header>

<main>


  <div class="parallax-container">
    <div class="parallax">
      <img src="images/mark-basarab-122141-unsplash.jpg" width="100%" style="display: block;">
    </div>

    <div class="section no-pad-bot" id="index-banner">
      <% include ../views/partials/nav %>

      <div class="container">
        <h1 class="header center orange-text">Resources</h1>
        <h2 class="header center orange-text"></h2>

        <div class="row center">
          <h3 class="header white-text col s12 light"> .</h3>
          <p class="white-text"></p>


<span id="loginspan">
       <a href="/about" class="btn rosa ">Edit Profile</a>
</span>

        </div>


      </div>
    </div>
  </div>




            <div class="container">
              <div class="section">
                <div class="row">

                  <div class="col s12 m4">
                    <div class="icon-block">
                      <h2 class="center light-orange-text"> <i class="fas fa-globe"></i></h2>
                      <h5 class="center">Explore</h5>
                      <p class="light"> Search for local tech resources and opportunities in your area</p>
                    </div>
                  </div>


                </div>
              </div>
            </div>




            <div class="parallax-container">
              <div class="parallax">
                <img src="images/chris-coudron-133553-unsplash.jpg" width="100%" style="display: block;">
              </div>
              <div class="section no-pad-bot" id="index-banner">
                <div class="container">
                  <br />
                  <br />
                  <br>
                  <h1 class="header center orange-text">--</h1>

                  <div class="row center">
                    <h3 class="header pink-text col s12 light"> Lorem.</h3>
                    <p class="white-text">Lorem </p>

                  </div>

                </div>
              </div>
            </div>

       <br>
       <br>


<article class="article page-content">
					<h1 class="article-title">Bay Area Coding Programs for Kids</h1>										<div class="by-line">Angela Geiser</div>

                    <br>




                    <br>
																		<div id="article-image" class="image-container" style="width: 293px;">
								<div class="data-picture-block" data-picture="" data-alt=""><div data-src="/images/cache/cache_e/cache_0/cache_c/Young-Wonks-Robot-Makers_440x300-6562349d-f9539c0e.jpeg?ver=1515700430&amp;aspectratio=1.4666666666667"></div><div data-src="/images/cache/cache_e/cache_4/cache_0/Young-Wonks-Robot-Makers_440x300-6562349d-6c74c04e.jpeg?ver=1515700430&amp;aspectratio=1.4666666666667" class="data-media-block" data-media="(max-width: 767px)"></div><div data-src="/images/cache/cache_8/cache_1/cache_9/Young-Wonks-Robot-Makers_440x300-6562349d-191c2918.jpeg?ver=1515700430&amp;aspectratio=1.4666666666667" class="data-media-block" data-media="(max-width: 480px)"></div><noscript>&lt;img src="/images/cache/cache_8/cache_1/cache_9/Young-Wonks-Robot-Makers_440x300-6562349d-191c2918.jpeg?ver=1515700430&amp;aspectratio=1.4666666666667" alt=""&gt;</noscript><img src="/images/cache/cache_8/cache_1/cache_9/Young-Wonks-Robot-Makers_440x300-6562349d-191c2918.jpeg?ver=1515700430&amp;aspectratio=1.4666666666667" alt=""></div>
																							</div>
																<p>While many kids play summer sports and attend camp in the woods, more and more are participating in a different kind of child’s play – computer programming class.</p>

<p>If it’s not the fun of designing their own animated characters or games that is pulling them in, it may be the appeal to their parents of the potential for turning coding skills into lucrative jobs.</p>

<p>Seven million openings for coding-related jobs were posted in the U.S. in 2015, according to an analysis by Oracle Academy of Burning Glass’s job postings database. Programming jobs are growing 50 percent faster than the job market overall, Oracle found. And jobs requiring coding skills pay $84,000 on average annually – $22,000 more than the average wage of non-coding professional jobs.</p>

<p>It’s no surprise then that the Bay Area – which has the highest number of tech jobs in the country – would produce a bumper crop of programming schools for kids. New schools open regularly, and the range of courses reads like a university catalog.</p>

<p>But for many coding fans and instructors, learning to program isn’t just about the dollars. It also makes sense. Kids who code don’t merely learn to complete tasks. They exercise their critical thinking skills to design new apps, animations and devices. Computers are so key in today’s world, some programming devotees attest, that not learning to code is tantamount to not learning to read.</p>

<p>If you’re looking for a school or camp in your community, try searching our website <a href="http://bayareaparent.com/Directories/Educational-Guide/index.php/category/Technology%2BSchool" target="_blank">bayareaparent.com/Directories/Educational-Guide/index.php/category/Technology%2BSchool</a>. Another good source is the comprehensive database on <a href="http://code.org" target="_blank">code.org</a>.</p>

<p>In selecting a camp or school, parents will want to consider tuition, equipment quality and class size. They’ll also want to look at whether the school teaches an age- and skill-appropriate language (such as Scratch for beginners or Java for veterans) and makes it fun to learn through projects and games. Many programs offer free trials if you’re unsure.</p>

<p>For descriptions of many of the area’s programming schools and organizations for kids, check out our list below:</p>

<p><strong><a href="http://blackgirlscode.com" target="_blank">Black Girls Code</a>:</strong>&nbsp;Based in Oakland, Black Girls Code holds workshops, hackathons and after-school programs on game and app design, aimed primarily at underrepresented girls of color, ages 11 to 17.</p>

<p><a href="http://breakoutmentors.com" target="_blank"><strong><u>Breakout Mentors</u></strong></a><strong>:</strong> Offers summer coding camps as well as weekly, 1.5-hour, one-on-one instruction for students ages 8 to 17. Tutors are computer science and engineering students from UC Berkeley, Santa Clara and Stanford.</p>

<p><a href="http://campedmo.org" target="_blank"><strong><u>EDMO</u></strong></a><strong>:</strong> Making learning an adventure is the mission of this nonprofit serving 20,000 Northern California kids in kindergarten through eighth grade annually at more than two dozen Bay Area locations. Camps incorporating programming include Minecraft Mod Coder, App Inventor and Game Coder.</p>

<p><a href="http://codeforfun.com" target="_blank"><strong><u>Code for Fun</u></strong></a>: Python 101 and 102 are among the offerings at Code For Fun’s center in Fremont or at area schools. Other courses offered by this nonprofit group include Little Programmers for 5- to 7-year-olds, game design with Scratch, web design, coding for robots for older kids and weeklong break camps for all ages.</p>

<p><a href="http://codenow.org" target="_blank"><strong><u>Code Now</u></strong></a>: CodeNow offers weekend workshops, online training and summer competitions for Bay Area high school students, with a mission to reach underrepresented groups.&nbsp;</p>

<p><strong><a href="https://coderdojo.com" target="_blank">CoderDojo</a></strong>:&nbsp;Kids ages 7 to 17 can attend free clubs run by volunteer coding “dojos” and held regularly at libraries and other locations around the bay.</p>

<p><strong><a href="https://www.codefu.com" target="_blank">Code Fu</a>:</strong> Using the discipline seen in Kung Fu, Code Fu teaches block coding, programming languages, modding and app and website design. Classes are held for&nbsp;students ages 5 to 11 during school hours and after at schools in San Francisco and the East Bay.</p>

<p><strong><u><a href="http://thecoderschool.com" target="_blank">The Coder School</a>:</u></strong> With the motto “Learn to code; change the world,” the Coder School offers extensive programs at many Bay Area locations, including year-round classes, camps and semi-private tutoring for youth ages 7 to 18.</p>

<p><a href="http://coderevkids.com/tech-camps." target="_blank"><strong><u>Code Rev</u></strong></a><strong>:</strong> &nbsp;Code Rev Courses in REV or robotic-enhanced vehicles are only the beginning of the options at weeklong camps for 6- to 15-year-olds in San Jose, San Francisco and Mountain View. Other courses range from Minecraft design to Unity 3D game design. They feature small groups of eight or fewer students per instructor and a curriculum developed by Harvard- and MIT-trained designers.&nbsp;</p>

<p><strong><a href="https://digitalmediaacademy.org" target="_blank">Digital Media Academy</a></strong>: For more than 15 years, Digital Media Academy has offered summer tech camps and academies ranging from 3D game design to Java programming at Stanford University for kids ages 6 to 17.</p>

<p><strong><a href="http://girlswhocode.com" target="_blank">Girls Who Code</a></strong>:&nbsp;Aiming to close the gender gap in tech, Girls Who Code partners with area schools and organizations to form coding clubs for female middle and high school students. The volunteer-led clubs follow a set curriculum with monthly projects and 40 hours of annual instruction. Two- and seven-week summer programs are also offered.</p>

<p><strong><a href="https://idtech.com" target="_blank">iD Tech Camps</a></strong>:&nbsp;Campbell-based iD Tech’s summer camps and intensive academies are held at multiple Bay Area high schools and universities, with courses ranging from Java programming to laptop design. Girls-only camps are also offered.</p>

<p><strong><u><a href="http://learntodiscover.org" target="_blank">Learning to Discover</a>:</u></strong> Helping kids discover how things work is the goal of this nonprofit, which offers programming classes and camps in Santa Cruz and southern Santa Clara counties, as well as other technology courses.</p>

<p><strong><a href="https://mvcodeclub.com" target="_blank">MV Code Club</a>:&nbsp;</strong>Weekly classes and summer camps where kids ages 6 to 16 can build animation, video games, apps, websites, robots and more at locations in Mill Valley and throughout the northern Bay Area. Girls-only sessions are available.</p>

<p><strong><u><a href="http://startupwonder.com" target="_blank">Startup Wonder</a> </u></strong>: For half the day at this summer camp held at several Bay Area locations, students ages 7 to 17 learn coding languages and app and game design. For the other half, they hone their entrepreneurial skills, ultimately pitching their “startup” products and companies to fellow campers.&nbsp;</p>

<p><strong><a href="http://techknowhow.com" target="_blank">TechKnowHow</a></strong><a href="http://techknowhow.com" target="_blank">:</a>&nbsp;Young techies ages 8 to 15 start with arcade-style games and progress to more sophisticated interactive games at coding and game design camps offered Bay Area-wide by Foster City-based TechKnowHow.</p>

<p><a href="http://techrocks.org" target="_blank"><strong><u>Tech Rocks</u></strong></a>: Tech fans ages 7 and up attend weekly, one-hour classes in technology, typing and coding located in San Mateo and San Francisco or weeklong break camps where they choose tech activities and complete deliverables. TechRocks also offers Minecraft birthday parties and Minecraft open play on Saturday nights.</p>

<p><a href="http://techsplosion.org" target="_blank"><strong><u>Techsplosion</u></strong></a>:&nbsp;Summer camps with cool themes like “Minecraft Animated” and “Coding Foundations with Minecraft” are on the menu at Techsplosion, along with other video technology offerings. Based in San Rafael, Techsplosion holds its camps, after-school Minecraft program and birthday parties with themes like Lego Robot Battle throughout the Bay Area.</p>

<p><strong><a href="http://visiontechcamps.com" target="_blank">VisionTech Education</a></strong>:&nbsp;Founded by a female tech entrepreneur in 2000, VisionTech offers after-school coding classes and summer camps in Minecraft, programming or game design for kids ages 7 to 17 at five Bay Area locations.</p>

<p><a href="http://whizkidzcc.com" target="_blank"><strong><u>Whizkidz</u></strong></a>: Whizkidz of San Jose features year-round, weekly classes for ages 6 to 18 at all skill levels and in a particularly extensive menu of coding languages. Private and semi-private tutoring and a 3.5-hour, daily after-school tech program are also offered.</p>

<p><a href="http://youngwonks.com" target="_blank"><strong><u>YoungWonks</u></strong></a><strong>:</strong> Following a curriculum that teaches programming languages in steps, students do exciting projects like develop games, build robots and automate home devices. Participants can attend the self-paced classroom in Pleasanton featuring a 1:4 instructor-student ratio or take one-on-one classes led online by a live instructor.&nbsp;</p>

<p><strong>Can’t make it to class? Learn basic coding online</strong></p>

<p><strong><a href="http://twolivesleft.com/CargoBot" target="_blank">Cargo-Bot</a></strong>:&nbsp;Solve puzzles with this free iPad app to learn programming basics.</p>

<p><strong><a href="https://codecademy.com/" target="_blank">Codeacademy</a></strong>:&nbsp;Learn to build a website or to code with different programming languages through free online courses generally geared for teens and adults.&nbsp;</p>

<p><strong><a href="http://daisythedinosaur.com" target="_blank">Daisy the Dinosaur</a></strong>:&nbsp;Aimed at children as young as 4, this free iPad app teaches basic programming concepts by making Daisy the Dinosaur run, jump, spin and dance.</p>

<p><strong><a href="http://gethopscotch.com" target="_blank">Hopscotch</a></strong>:&nbsp;This free iPad app teaches programming fundamentals to kids ages 8 and up by having them drag and drop blocks of code to create games, animations and stories.</p>

<p><strong><a href="https://khanacademy.org/hourofcode" target="_blank">Khan Academy</a></strong>:&nbsp;Offers free online computer science lessons for older kids, walking them through basic coding and allowing them to create and share their programs online.</p>

<p><strong><a href="https://kodable.com" target="_blank">Kodable</a></strong>:&nbsp;This iPad app teaches elementary school kids about programming through 70 lessons featuring games and interactive tutorials.</p>

<p><strong><a href="http://learntomod.com" target="_blank">Learn to Mod</a></strong>:&nbsp;Kids who are addicted to the game Minecraft can use it to learn how to program – and even earn college credit – through these fee-based online courses, software and tutorials.</p>

<p><a href="https://lightbot.com/" target="_blank"><strong>Lightbot Jr. and </strong><strong>Lightbo</strong>t</a>:&nbsp;Lightbot Jr., for children ages 4 to 8, and Lightbot, for children ages 9 and up, uses puzzle games that teaches programming through play.</p>

<p><strong><a href="http://movetheturtle.com" target="_blank">Move the Turtle</a></strong>:&nbsp;With the help of a friendly turtle, children ages 5 and up complete tasks and learn programming concepts such as loops and variables on this app for iPad and iPhone.</p>

<p><strong><a href="https://scratch.mit.edu" target="_blank">Scratch</a></strong>:&nbsp;Launched by MIT, Scratch is a programming language developed for children, which they can do things like compose music, create pong games, make an animated cat fly and much more. Kids can share their creations on an online community.</p>

<p><strong><a href="https://www.tynker.com" target="_blank">Tynker</a></strong>: Youngsters ages 8 and up can learn a succession of skills that will allow them to mod for Minecraft, code robots and drones and eventually builds apps and games. Subscription price is&nbsp; $8 a month.</p>

<p><a href="http://eventbrite.com/e/wonderhack-a-family-hackathon-tickets-38674707090." target="_blank"><strong>Wonderhack Family Hackathon</strong></a> – Families with kids in elementary and middle school are invited to this event where they’ll use code to build games or apps with help from volunteers. Sat., Jan. 6. 9:30am-2pm. $15 per person. Startup Wonder’s 42 Silicon Valley, 6600 Dumbarton Circle, Fremont.&nbsp;</p>


    							</article>
